
*.py linguist-detectable=true        
*.ipynb linguist-detectable=false     
*.js linguist-detectable=true       
*.html linguist-detectable=true      
*.css linguist-detectable=true       
*.java linguist-detectable=true      
*.cpp linguist-detectable=true       
*.go linguist-detectable=true       
*.rs linguist-detectable=true       
*.php linguist-detectable=true       
*.swift linguist-detectable=true      
*.ts linguist-detectable=true        
*.sql linguist-detectable=true      
*.md linguist-detectable=true        
*.rb linguist-detectable=true        
*.sh linguist-detectable=true        
*.ps1 linguist-detectable=true      
*.d.ts linguist-detectable=true      
*.R linguist-detectable=true         
*.scala linguist-detectable=true     
*.kt linguist-detectable=true        
*.coffee linguist-detectable=true   
*.hs linguist-detectable=true        
*.pug linguist-detectable=true    
*.jade linguist-detectable=true      
*.xml linguist-detectable=true    
*.json linguist-detectable=true      
*.yml linguist-detectable=true    
*.yaml linguist-detectable=true     
